.butt{
  margin: 100px;
  margin-left: 400px;

}

.b1:hover{
  background-color: green;

}
.b2:hover{
  background-color: red;

}
.b3:hover{
  background-color: yellow;

}
.b4:hover{
  background-color: blue;

}
button{
  padding: 20px;
  margin: 20px;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
}
.but{
  width: 100%;
background-image:url(stu.png);
  color: black;
}
